html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: sans-serif;
  color: black;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  list-style: none;
}

body {
  background-image: url(../assets/peppa.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* overflow: hidden; */
}

audio {
  width: 200px;
  cursor: pointer;
}

a {
  font-weight: bold;
  font-size: 26px;
  font-family: fantasy;
  text-decoration: none;
  justify-content: center;
}

.container {
  margin:auto;
  padding:0 10px;
  max-width: 400px;
}

.board {
  padding-left: 15px;
}

h1 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: comic sans MS;
  text-align: center;
  font-size: 36px;
  padding-left: 15px;
}

nav {
  text-align: center;
  margin-top: 10px;
  margin-bottom:10px;
}

.author {
  text-align:center;
}

.modal {
  display: none;
  position: fixed;
  top:0;
  bottom: 0;
  left:0;
  right:0;
  z-index: 10000;
  background: rgba(0,0,0,0.4);
}

.content {
  font-family: comic sans MS;
  margin:15% auto;
  max-width: 400px;
  background-color: #FAF0E6;
  border: 1px solid #E0DEDB;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
}

.modal h2 {
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #E0DEDB;
}

#level-modal .content {
  background-image: url(../assets/congratulation.jpg);
  border: 1px solid #33A3FF;
}

#level-modal h2 {
  padding-top: 20px;
  text-align: center;
  border-bottom: 1px solid transparent;
}

#level-modal li {
  text-align: center;
  font-size: 20px;
}

#level-modal footer {
  border-top: 1px solid transparent;
}

#level-modal .play-button {
  background-color: #0B9F09;
  box-shadow: 2px 2px 9px 0px #2dd82b inset, -2px -2px 9px 0px #036301 inset;
}

.rule {
  padding:15px;
}

.rule li {
  margin-bottom: 10px;
}

.modal footer {
  padding-right: 10px;
  text-align: right;
  border-top: 1px solid #E0DEDB;
}

.play-button {
  background-color: #3498DB;
  border: 1px solid #E0DEDB;
}

.row {
  width: auto;
  margin: 0 auto;
  text-align: center;
  font-size: 0px;
}

.square {
  float: left;
  border-radius: 5px;
  border: 1px solid #745503;
  background-color: #d671a9;
  cursor: pointer;
  box-shadow: 4px 4px 9px 0px #ef92c6 inset, -4px -4px 9px 0px #c44c8e inset;
  -webkit-perspective: 900;
}


.unselected {
  background-color: #DABB68;
  box-shadow: 4px 4px 9px 0px #f2d791 inset, -4px -4px 9px 0px #c9a84e inset;
}

input {
  background-color: #3498DB;
  box-shadow: 2px 2px 9px 0px #5eb4ed inset, -2px -2px 9px 0px #0774bc inset;
  border: 1px solid transparent;
  border-radius: 4px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  font-family: comic sans MS;
  font-weight: bold;
  font-size: 16px;
  margin: 4px 2px;
  margin-top: 10px;
  cursor: pointer;
}

input:hover {
  color: black;
}
